$primaryColor: #001f3f;
$secondaryColor: #ec6b70;

.logo {
    height: 130px; 
    width: 130px;
}

.headear {
    background-color: $primaryColor; 
    color: #fff;
    padding: 10px;

    button {
        color: white;
    }
}

.header-ul {
    display: flex;
}

.menu-button {
    margin-right: 24px;
    min-width: 0;
    padding: 0;
    line-height: normal;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.spacer {
    flex: 1 1 auto;
}

.active-link {
    color: $secondaryColor !important;
    font-weight: 500;
}

.active-link:hover {
    background-color: #64475152;
}
