<mat-toolbar class="headear">
  <span>
    <a routerLink="/">
      <img src="assets/MessageHub.png" alt="logo" class="logo" style="margin-top: 8px;">
    </a>
  </span>
  <span class="spacer"></span>

  <!-- Menu Desktop pour les écrans larges -->
  <div fxHide.lt-md="true" class="headerDesktop">
    <ul class="header-ul">
      <li >
        <a mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-envelopes-bulk"></i>
          Les messages
        </a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/create" routerLinkActive="active-link">
          <i class="fa-solid fa-plus"></i>
          Nouveau message
        </a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/auth/login" routerLinkActive="active-link">
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
          Se connecter
        </a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/auth/signup" routerLinkActive="active-link">
          <i class="fa-solid fa-user-plus"></i>
          S'inscrire
        </a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <button mat-button (click)="onLogout()">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          Se déconnecter
        </button>
      </li>
    </ul>
  </div>

  <!-- Burger Menu pour les écrans petits -->
  <div fxHide.gt-sm="true" class="headerBurger">
    <button mat-button [matMenuTriggerFor]="menu">
      <i class="fa-solid fa-bars"></i>
    </button>

    <mat-menu #menu="matMenu" yPosition="above">
      <li mat-menu-item>
        <a mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-envelopes-bulk"></i>
          Les messages
        </a>
      </li>
      <li  mat-menu-item *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/create" routerLinkActive="active-link">
          <i class="fa-solid fa-plus"></i>
          Nouveau message
        </a>
      </li>
      <li  mat-menu-item *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/auth/login" routerLinkActive="active-link">
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
          Se connecter
        </a>
      </li>
      <li  mat-menu-item *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/auth/signup" routerLinkActive="active-link">
          <i class="fa-solid fa-user-plus"></i>
          S'inscrire
        </a>
      </li>
      <li  mat-menu-item *ngIf="userIsAuthenticated">
        <button mat-button (click)="onLogout()">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          Se déconnecter
        </button>
      </li>
    </mat-menu>
  </div>
</mat-toolbar>

