$primaryColor: #001f3f;
$secondaryColor: #ec6b70;

.list-container {
    margin-top: 50px;

    .list-title {
        font-size: 20px;
        text-align: center;
        margin-bottom: 25px;
        font-family: sans-serif;
        font-weight: 500;
    }
}

mat-card {
    padding: 20px;
}

mat-form-field {
    width: 100%;
}

mat-spinner {
    margin: auto;
    width: 70px !important;
    height: 70px !important;
}

.div-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
        width: 100%;
        background-color: $secondaryColor;
        color: #fff;
    }
    
}

@media (min-width: 768px) {
    .list-container {
      width: 60%;
      margin: 50px auto;
    }
}

@media (min-width: 992px) {
    .list-container {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .list-container {
        width: 40%;
    }
}
