/* You can add global styles to this file, and also import other style files */

$primaryColor: #001f3f;

/* Réinitialisation des marges et des rembourrages par défaut */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style global */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5; 
    color: #333;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    overflow: hidden !important;
}

/* Navbar */
header {
    background-color: #3498db; 
    color: #fff;
    padding: 10px; 
}

/* Contenu principal */
main {
    padding: 20px; 
}


.mat-mdc-menu-content, .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
    background-color: $primaryColor;
    color: white;
    border-color: $primaryColor;
}

.mat-mdc-button.mat-unthemed {
    --mdc-text-button-label-text-color: #fff;
}